@theme static {
--color-orchid-50: #fcf7fc;
--color-orchid-100: #f8eef9;
--color-orchid-200: #f1dcf2;
--color-orchid-300: #e5c1e6;
--color-orchid-400: #d69bd7;
--color-orchid-500: #c378c4;
--color-orchid-600: #a554a5;
--color-orchid-700: #884386;
--color-orchid-800: #6f396d;
--color-orchid-900: #5d325b;
--color-orchid-950: #3a1838;

}
